certifi==2018.8.24
chardet==3.0.4
futures==3.1.1
google-cloud==0.34.0
googletrans==2.3.0
goslate==1.5.1
idna==2.7
numpy==1.22.0
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
xlrd==1.1.0
